<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%if(data.length > 0) {%>
    <p>Nama Penyakit: <%=data[0].Diagnosis.penyakit%></p>
    <table>
      <tr>
        <th>PASIEN</th>
        <th>DOKTER</th>
        <th>DIAGNOSA</th>
        <th>TANGGAL PERIKSA</th>
        <th>CATATAN DOKTER</th>
      </tr>
      <%for(var i = 0; i < data.length; i++) {%>
        <tr>
          <td><%=data[i].Pasien.name%></td>
          <td><%=data[i].Dokter.name%></td>
          <td><%=data[i].Diagnosis.penyakit%></td>
          <td><%=data[i].tglperiksa.toDateString()%></td>
          <td><%=data[i].catatandokter%></td>
        </tr>
      <%}%>
      <%} else {%>
        <p>Belum ada pasien</p>
      <%}%>
    </table>
  </body>
</html>
