<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/style/bulma.min.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/style/custom.css" type="text/css">
  <link rel="stylesheet" href="assets/style/buefy.min.css">
  <title><%=title%></title>
</head>
<body>
  <header>
		<div class="container">
			<% include assets/partials/top-nav %>
		</div>
	</header>

  <!-- hero -->
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Welcome to Clinic Plus
          </h1>
          <h2 class="subtitle">
            I hope you are having a great day!
          </h2>
        </div>
      </div>
    </section>

	<div style="margin-top: 3%; margin-bottom: 3%;" class="container-cust">
		<div id="sidebar">
			<div class="sidebar__inner">
				<% include assets/partials/menu-panel %>
			</div>
		</div>


		<div id="content">
      <% include assets/partials/menu-nav %>
      <!-- this content -->
      <!-- table -->
      <table style="width:100%; margin-top:12px;" class="table is-striped">
        <tr>
          <th>ID</th>
          <th>PENYAKIT</th>
          <th>ACTION</th>

        </tr>
        <% for(let data=0; data<data_DiagnosisToEjs.length; data++) {%>
          <tr>
            <th>
              <%= data_DiagnosisToEjs[data].id %>
            </th>
            <td style="color:#00d1b2;">
              <%= data_DiagnosisToEjs[data].penyakit %>
            </td>

              <td style="margin-left:-5px;">
                <a class="button is-info is-outlined is-small" href='diagnosis/edit/<%=data_DiagnosisToEjs[data].id%>'>
                  <span>Edit</span>
                  <span class="icon is-small">
                    <i class="fa fa-pencil"></i>
                  </span>
                </a>
                <a class="button is-danger is-outlined is-small" href="diagnosis/delete/<%=data_DiagnosisToEjs[data].id%>" onclick="myFunction()">
                  <span>Delete</span>
                  <span class="icon is-small">
                    <i class="fa fa-times"></i>
                  </span>
                </a>
              </td>
          </tr>
          <%}%>
      </table>

      <div style="text-align:left; margin-top:35px;">
       <a class="button is-outlined" href='/diagnosis/add'>add diagnosis</a>
     </div>
      <!-- this content -->
		</div>
	</div>

	<footer>
		 <% include assets/partials/footer %>
	</footer>
    <% include assets/partials/sticky %>

</body>
</html>
