<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../assets/style/bulma.min.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../assets/style/custom.css" type="text/css">
  <title><%=title%></title>
</head>
<body>

  <div style="margin:auto; width: 50%;">
      <!-- <H1 style="text-align: center;">ADD TEACHER</H1> -->
      <div style="text-align: center; margin-top:22px;">
        <p class="title is-2">Edit Pasien</p>
        <p class="subtitle is-5">update name, gender, age, pekerjaan and address</p>
      </div>

        <div style="margin-top: 10%;">
        <form action="/pasien/edit/<%=data_pasienToEjs.id%>" method="post">
          <div class="field">
            <label class="label">Full Name</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" type="text" value="<%=data_pasienToEjs.name%>" name="name">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
							  <label class="label">Jenis Kelamin</label>
							  <div class="control">
							    <div class="select is-fullwidth">
							      <select name="jeniskelamin">
                      <option value="Pria">Pria</option>
							        <option value="Wanita">Wanita</option>
							      </select>
							    </div>
							  </div>
						</div>
            <div class="field">
              <label class="label">Usia</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-medium" type="text" value="<%=data_pasienToEjs.usia%>" name="usia">
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Pekerjaan</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-medium" type="text" value="<%=data_pasienToEjs.pekerjaan%>" name="pekerjaan">
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Alamat</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-medium" type="text" value="<%=data_pasienToEjs.alamat%>" name="alamat">
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>

          <div style="text-align: center; margin-top:33px;" class="control">
            <input class="button is-success is-outlined is-medium" type="submit" value="Submit input">
            <input class="button is-success is-outlined is-medium" type="reset" value="Reset input">
          </div>
        </form>

      </div>
      <div style="text-align: center;margin-top:5%;">
        <a style="text-decoration: none;" href="/pasien">show all Pasien</a>
      </div>
    </div>

</body>
</html>
