<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/pasien/search" method="get">
      <input type="input" name="name" value="">
      <input type="submit" value="submit">
    </form>

    <%if(data.length > 0){%>
      <table>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>GENDER</th>
          <th>USIA</th>
          <th>PEKERJAAN</th>
          <th>ADDRESS</th>
        </tr>
      <%for(var i = 0; i < data.length; i++) {%>
        <tr>
          <td><%=data[i].id%></td>
          <td><%=data[i].name%></td>
          <td><%=data[i].jeniskelamin%></td>
          <td><%=data[i].usia%></td>
          <td><%=data[i].pekerjaan%></td>
          <td><%=data[i].alamat%></td>
        </tr>
      <%}%>
    </table>
    <%} else {%>
      <p>data tidak ditemukan</p>
    <%}%>
  </body>
</html>
